.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0; /* 푸터의 높이 설정 */
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
    /* position 속성 제거 - 페이지의 흐름에 따라 자연스럽게 위치하도록 변경 */
}

/* 푸터 내용의 스타일 */
.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-list li {
    display: inline;
    margin: 0 15px;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #f39c12;
}

@media (max-width: 600px) {
    .footer-list li {
        display: block;
        margin: 10px 0;
    }
}
