/* 푸터 스타일 */
.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0; /* 푸터의 높이 설정 */
    width: 100%;
    text-align: right; /* 내용 오른쪽 정렬 */
    z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
}

/* 푸터 내용의 스타일 */
.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right; /* 리스트 항목 오른쪽 정렬 */
}

.footer-list li {
    display: inline;
    margin: 0 15px;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #f39c12;
}

@media (max-width: 600px) {
    .footer-list {
        text-align: center; /* 모바일에서 중앙 정렬 */
    }

    .footer-list li {
        display: block;
        margin: 10px 0;
    }
}
