/* navigation.css */

/* 사이드 네비게이션 바 스타일 */
.sidebar {
    width: 150px;
    background-color: #121212;
    color: #fff;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 20px;
    box-shadow: none; /* 회색 줄 제거 */
}

.sidebar-header h3 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin: 0;
}

.sidebar-menu li a {
    display: block;
    color: #fff;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
        text-align: center;
}

.sidebar-menu li a:hover {
    background-color: #575757;
}


