/* 기본 리셋 및 박스 사이징 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#container {
    padding: 20px;
}

/* 버튼 스타일링 */
.btn.custom-btn {
    background-color: #212529;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s;
}

.btn.custom-btn:hover {
    background-color: #0056b3;
}

/* 관리자 버튼 스타일링 */
.admin-btn {
    background-color: #28a745;
}

.admin-btn:hover {
    background-color: #218838;
}

/* 검색 바 스타일 */
#search-bar {
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    gap: 8px;
    align-items: center;
}

/* 검색 입력 필드 */
.search-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    max-width: 200px; /* 검색 입력 필드의 최대 너비 */
}

/* 버튼 그룹 스타일링 */
.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin-bottom: 20px;
}

/* 제품 목록 컨테이너 스타일 */
.list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.list-container .item {
	text-align: center; /* 텍스트중앙정렬 */
    width: calc(33.333% - 16px); /* 3개씩 나오는 행에서 간격을 고려한 너비 */
    margin-bottom: 16px; /* 항목 간의 간격 */
    border: 1px solid #e1e1e1; /* 항목의 경계선 */
    border-radius: 4px;
    overflow: hidden; /* 자식 요소가 컨테이너를 넘지 않도록 */
    background-color: #fff; /* 배경색 */
    padding: 10px; /* 패딩 추가 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

/* 이미지 스타일 */
.list-container img {
    width: 100%;
    height: auto;
    max-height: 200px; /* 이미지 최대 높이 설정 */
    object-fit: cover; /* 이미지 비율 유지하면서 컨테이너에 맞추기 */
    border-radius: 4px;
}

/* 페이징 네비게이션 스타일링 */
.pagination {
    margin-top: 20px;
    text-align: center;
}

.page-link {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #dee2e6;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.page-link.active {
    background-color: #333;
    color: #fff;
}
