@charset "UTF-8";
/* watchhistory.css */

/* 전체 페이지 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    margin: 0;
    padding: 0;
    display: flex; /* 화면 중앙에 내용 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 130vh; /* 화면 높이 전체 사용 */
    color: #fff;
}

/* 헤더 스타일 */
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #fff;
    font-size: 2em;
    margin: 0;
}

/* 뒤로가기 버튼 스타일 */
.btn-back {
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
    display: inline-block;
}

.btn-back:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.btn-back:focus {
    outline: none;
}

/* 메인 영역 스타일 */
main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    
}

/* 제품 카드 스타일 */
.product-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    margin-bottom: 15px;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-link {
    font-size: 16px;
    text-decoration: none;
    color: #333;
    text-align: center;
    font-weight: bold;
}

.product-link:hover {
    color: #007bff;
    text-decoration: underline;
}
